.tb_bord{
background-color: #1671fe;
float: left;
display : flex;
flex-direction: column;
width: 250px;
height: 648px;
}
.btn{
background-color: #F0B336;
border-radius: 20px;
width: 150px;
padding: 10px;
margin: 10px;
}

.btn1{
    
}
.btn2{
    
}
.btn3{
    
}
.btn_logout{

}

// .btn1{
//     background-color: #F0B336;
//     border-radius: 20px;
//     padding: 10px;
//     width: 150px;
//     position: absolute;
//     top: 200px;
//     left : 70px;

// }
// .btn2{
//     background-color: #F0B336;
//     border-radius: 20px;
//     padding: 10px;
//     width: 150px;
//     position: absolute;
//     top: 260px;
//     left : 70px;
// }
// .btn3{
//     background-color: #F0B336;
//     border-radius: 20px;
//     padding: 10px;
//     position: absolute;
//     top: 320px;
//     left : 70px;


// }
// .btn_logout{
//     background-color: #FF0505;
//     border-radius: 20px;
//     padding: 10px;
//     position: absolute;
//     top: 600px;
// }