<div class="accueil_gnrl"> 
    <!-- tableau de bord -->
    <div class="tb_bord"> 
        <!-- photo profil -->
        <div class="photo_profil">
            <img class="photo_profil" src="../../assets/photo_profil.jpg" alt="pp" />
        </div>
            <br> <span> nom et prenom</span>
            <button class="btn btn1"><!--<a href="../accueil/">-->gesion de profil<!--</a>--></button>
            <button class="btn btn2"><!--<a href="../accueil/">-->Mes sites<!--</a>--></button>
            <button class="btn btn3"><!--<a href="../accueil/">-->Liste des offres<!--</a>--></button>
            <button class="btnl btn_logout"><!--<a href="../accueil/">-->Déconnexion<!--</a>--></button> 
    <!--  -->
    </div>
    <div class="part_formulaire">
        <form action="/ma-page-de-traitement" method="post">
            <div>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="user_name">
            </div>
            <div>
                <label for="mail">e-mail&nbsp;:</label>
                <input type="email" id="mail" name="user_mail">
            </div>
            <div>
                <label for="msg">Message :</label>
                <textarea id="msg" name="user_message"></textarea>
            </div>
        </form>
        <p>salut</p>
    </div>
</div>